<section
  id="our-mission"
  class="our-mission text-center py-5"
  style="position: relative"
>
  <div class="container">
    <div class="mission-content">
      <h2 class="animate-mission-heading">Our Mission</h2>
      <p class="lead animate-mission-text">
        At <span class="highlight">CarShop</span>, our mission is to transform
        the car buying and selling experience. With a focus on trust,
        transparency, and efficiency, we aim to provide the best platform for
        connecting buyers and sellers.
      </p>
      <a href="#contact" class="btn btn-outline-primary btn-lg mission-button"
        >Contact Us</a
      >
    </div>
  </div>
</section>
