<div class="container-fluid featured-cars-3d dashboard-size">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar pt-5">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/manage-cars"> Manage Cars </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/manage-users"> Manage Users </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content area -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Admin Dashboard</h1>
      </div>

      <div class="row">
        <!-- Manage Cars -->
        <div class="col-md-4">
          <div class="card mb-4 box-shadow des-card-bg">
            <div class="card-header">Manage Cars</div>
            <div class="card-body">
              <p>Add, Edit or Delete Cars</p>
              <a routerLink="/manage-cars" class="btn btn-primary"
                >Go to Cars</a
              >
            </div>
          </div>
        </div>

        <!-- Manage Users
        <div class="col-md-4">
          <div class="card mb-4 box-shadow des-card-bg">
            <div class="card-header">Manage Users</div>
            <div class="card-body">
              <p>Manage user accounts and privileges</p>
              <a routerLink="/manage-users" class="btn btn-primary"
                >Go to Users</a
              >
            </div>
          </div>
        </div> -->

        <!-- Manage Oders -->
        <div class="col-md-4">
          <div class="card mb-4 box-shadow des-card-bg">
            <div class="card-header">Manage Oders</div>
            <div class="card-body">
              <p>Manage Oders</p>
              <a routerLink="/oders" class="btn btn-primary">Go to Oders</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
